body {
  font-family: Roboto, Arial;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-left: 250px;
  padding-right: 24px;
  background-color: rgb(248, 248, 248);
  background: url(../images/background-2.jpg);
}

body div {
  padding-left: 15px;
  padding-right: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  border-color: rgb(6, 95, 212);
  border-style: solid;
  border-width: 4px;
}

.main {
  margin-bottom: 80px;
}

.header {
  margin-left: auto;
  margin-right: auto;
  -webkit-linear-gradient: (90deg, #ffffff, #ed9277);
  background: linear-gradient(90deg, #ffffff, #ed9277);
}

header h1,
h2 {
  text-align: center;
}

.contacts,
.aboutMe,
.skills,
.code,
.experience,
.projects,
.education,
.courses,
.languages {
  -webkit-linear-gradient: (90deg, #ffffff, #ed9277);
  background: linear-gradient(90deg, #ffffff, #ed9277);
}

.markdown-logo {
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15;
}

p,
li {
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 0;
  margin-bottom: 0;
}

.contactsHeader {
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
}

.sectionHeader {
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

pre {
  width: 280px;
  height: 80px;
  background-color: #e7e9eb;
  text-align: center;
}

div {
  font-size: 20x;
  font-family: 'Times New Roman', Times, serif;
}